
html body{
    background-color: rgb(39, 39, 39);
    font-family: 'Fjalla One', sans-serif;
    margin: 0px;
    padding: 0;
    height: 100%;
}
ul{
    list-style: none;
}
/* Header Section-----------------------------------------------------------*/
header{
    height: 140px;
}
#topnav{
    width: 100%;
    height: 100%;
    background-color: #5f5f5f;
    box-shadow:  #000000;
}
#navbarline{
    width: 100%;
    height: 2px;
    top: 140px;
    position: absolute;
    background-color: #8c8c8c;

}
#logo{
    display: block;
    padding-top: 10px;
    margin:0 auto;


}
nav a{
    text-decoration:none;
    color: darkorange;
}
nav a:link,{
    color: #919191;

}
nav a:active {
    color: #8b8b8b;
}
nav a:visited {

}
nav a:hover {
    color: #7f4210;
}
nav ul{
    text-align: center;
}
nav li{
    display: inline;
    margin-right: 2%;
    font-size: 1.5em;
}

nav li:hover{
    border-bottom: solid #272426;
}
/* Article Section-----------------------------------------------------------*/
article{
    min-height: 100%;

    margin-bottom: -80px;
}
article:after{
    content: "";
    display: block;
    height:90px;
}
/* Content Section-----------------------------------------------------------*/
#gallery{
    display: block;
    padding-top: 50px;
}
#juicebox-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* Footer Section-----------------------------------------------------------*/
footer{
    width: 100%;
    height: 80px;
    clear: both;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #272727;

}
#footerline{
    width: 100%;
    height: 2px;
    bottom: 40px;
    left: 0px;
    background-color: #8c8c8c;

}
#email{
   top: 50px;
}
#email_field{
    width: 10em;
    margin-bottom: 10px;
    height: 1.3em;
    top: 100px;
    margin-left: 87%;
    box-shadow: 0 10px 6px -6px black;
    background-color: antiquewhite;
}
footer p{
    text-align: center;
    color: #FFFFFF;
}
